* {
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    position: relative;
}
#main {
    background-color: white;
}

#header {
    background-color: rgb(10, 10, 10);
    padding-bottom: 100px;
    
}

#logo {
    font-size: 45px;
    font-family: Segoe Print;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container {
    padding: 10px 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: rgb(252, 249, 249);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    background-color: #003fde;
}

nav img {
    width: 250px;
}

#headerRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
    color: rgb(253, 251, 251);
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text p span {
    color: #ff004f;
}

#headerImage {
    width: 30%;

}

#headerImage img {
    width: 100%;
    margin-top: 20%;
}

.wrap {
    background-image: linear-gradient(-225deg,
            #ee900c 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s linear infinite;
    display: inline-block;
    font-weight: bold;
}

@keyframes textclip {
    to {
        background-position: 100% center;
    }
}

html {
    scroll-behavior: smooth;
}

#about {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: black;
}

.Aboutpic {
    width: 30%;
}

.Aboutpic img {
    width: 100%;
    border-radius: 50%;
    /* margin-top: 20%; */
}

.title {
    width: 50%;
}

.title h1 {
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}

.title p {
    font-size: 21px;
    line-height: 25px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#resumeBtn {
    padding: 5px 7px;
    background-color: #ff004f;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 17px;
    border: 0px;
    font-style: italic;
}

#resumeBtn:hover {
    /* background-color: #6c51d081; */
    border-radius: 10px;
}

#skildiv {
    text-align: center;
    margin: auto;
    width: 85%;

    padding: 20px;
    border-radius: 10px;
}

.skils_border {
    height: 530px;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
}

#skill {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    gap: 10px;
    margin: auto;
    justify-content: space-around;
}

#skill2 {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    gap: 10px;
    margin: auto;
    justify-content: space-around;
}

#skill img {
    padding: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
}

#skill img:hover {
    background-color: rgb(236, 226, 226);
}

#skill2 img:hover {
    background-color: rgb(236, 226, 226);
}

#skill2 img {
    padding: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
}

#projectDiv {
    width: 85%;
    margin: auto;
    text-align: center;
}

.Each_skill_div {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.366);
    padding: 10px;
    border-radius: 20px;
}
.Each_skill_div h3{
    margin-top: 10px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h1Heading {
    background-color: rgba(128, 128, 128, 0.366);
    width: 35%;
    margin: auto;
    margin-bottom: 20px;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 20px;
}

.projects {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 500px */
}

.projectImg {
    width: 55%;
}

a {
    text-decoration: none;
}

.projectImg img {
    width: 98%;
    height: 400px;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
}

#spclimg {
    height: 300px
}

.projectTextDiv {
    padding: 35px;
    text-align: left;
    margin: auto;
    font-size: 17px;
    width: 45%;
    font-family: 'poppins', sans-serif;
}

.techspan {
    margin-top: 20px;
}

.techspan span {
    font-weight: lighter;
}

.projectbtn {
    margin-right: 10px;
    padding: 7px 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid rebeccapurple;
}

.projectbtn a {
    color: rgb(27, 122, 107);
}

.projectbtn a:hover {
    color: white;
}

.projectbtn:hover {
    color: white;
    background-color: #914d80;
    transition: 1s;
    cursor: pointer;
    border-radius: 5px;
}

hr {
    border: 2px solid #ff004f;
    background-color: #ff004f;
}
#ContactMe{
    /* background-color:rgb(10, 10, 10); ; */
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 50px;
}
.left{
    width: 400px;
    height: 400px;
}
a{
    color: white;
}
#Contact{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    
}
#Contact input{
    background-color: white;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 7px;
    /* border-color: black; */
}
#Contact textarea{
    background-color: white;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 7px;
    border-color: black;
}
#Contact input:focus-within{
    outline: none;
    border-color: #ff004f;
    border-width: 3px;
}
#Contact textarea:focus-within{
    outline: none;
    border-color: #ff004f;
    border-width: 3px;
}
#last{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    color: white;
    background-color: #ff004f;
}